In [1]:
import pandas as pd
import numpy as np

In [2]:
total_crop_dataset = pd.read_csv('crop_production.csv')

In [3]:
west_bengal = total_crop_dataset[total_crop_dataset['State_Name']=='West Bengal']

In [4]:
west_bengal.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
236478,West Bengal,24 PARAGANAS NORTH,1997,Autumn,Rice,15017.0,33840.0
236479,West Bengal,24 PARAGANAS NORTH,1997,Kharif,Jute,52568.0,677510.0
236480,West Bengal,24 PARAGANAS NORTH,1997,Kharif,Mesta,690.0,6710.0
236481,West Bengal,24 PARAGANAS NORTH,1997,Kharif,Urad,1992.0,1310.0
236482,West Bengal,24 PARAGANAS NORTH,1997,Rabi,Gram,267.0,160.0

In [5]:
west_bengal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9613 entries, 236478 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State_Name     9613 non-null   object
 1   District_Name  9613 non-null   object
 2   Crop_Year      9613 non-null   int64
 3   Season         9613 non-null   object
 4   Crop           9613 non-null   object
 5   Area           9613 non-null   float64
 6   Production     9597 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 600.8+ KB

In [6]:
west_bengal.isnull().sum()

State_Name        0
District_Name     0
Crop_Year         0
Season            0
Crop              0
Area              0
Production       16
dtype: int64

In [7]:
west_bengal = west_bengal.dropna()

In [8]:
west_bengal.isnull().sum()

State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

In [9]:
west_bengal['District_Name'].unique()

array(['24 PARAGANAS NORTH', '24 PARAGANAS SOUTH', 'BANKURA', 'BARDHAMAN',
       'BIRBHUM', 'COOCHBEHAR', 'DARJEELING', 'DINAJPUR DAKSHIN',
       'DINAJPUR UTTAR', 'HOOGHLY', 'HOWRAH', 'JALPAIGURI', 'MALDAH',
       'MEDINIPUR EAST', 'MEDINIPUR WEST', 'MURSHIDABAD', 'NADIA',
       'PURULIA'], dtype=object)

In [10]:
west_bengal['District_Name'].nunique()

18

In [11]:
west_bengal_filtered = west_bengal[
    (west_bengal['Crop']=='Wheat') | 
    (west_bengal['Crop']=='Rice')  |
    (west_bengal['Crop']=='Jowar')  |
    (west_bengal['Crop']=='Bajra')  |
    (west_bengal['Crop']=='Cardamom')  |
    (west_bengal['Crop']=='Garlic')  |
    (west_bengal['Crop']=='Turmeric')  |
    (west_bengal['Crop']=='Ginger')  |
    (west_bengal['Crop']=='Cotton(lint)')  |
    (west_bengal['Crop']=='Linseed')  |
    (west_bengal['Crop']=='Sesamum')  |
    (west_bengal['Crop']=='Coconut ')  |
    (west_bengal['Crop']=='Onion')  |
    (west_bengal['Crop']=='Arhar/Tur')  |
    (west_bengal['Crop']=='Potato')  |
    (west_bengal['Crop']=='Maize')  
]

In [12]:
west_bengal_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3674 entries, 236478 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State_Name     3674 non-null   object
 1   District_Name  3674 non-null   object
 2   Crop_Year      3674 non-null   int64
 3   Season         3674 non-null   object
 4   Crop           3674 non-null   object
 5   Area           3674 non-null   float64
 6   Production     3674 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 229.6+ KB

In [13]:
west_bengal_filtered['Crop'].nunique()

14

In [66]:
west_bengal_filtered_ohe = pd.get_dummies(west_bengal, columns=['District_Name', 'Season','Crop'],drop_first=True)

In [67]:
west_bengal_filtered_ohe.head()

,State_Name,Crop_Year,Area,Production,District_Name_24 PARAGANAS SOUTH,District_Name_BANKURA,District_Name_BARDHAMAN,District_Name_BIRBHUM,District_Name_COOCHBEHAR,District_Name_DARJEELING,...,Crop_Sannhamp,Crop_Sesamum,Crop_Small millets,Crop_Soyabean,Crop_Sugarcane,Crop_Sunflower,Crop_Tobacco,Crop_Turmeric,Crop_Urad,Crop_Wheat
236478,West Bengal,1997,15017.0,33840.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
236479,West Bengal,1997,52568.0,677510.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
236480,West Bengal,1997,690.0,6710.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
236481,West Bengal,1997,1992.0,1310.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
236482,West Bengal,1997,267.0,160.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
west_bengal_filtered_ohe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9597 entries, 236478 to 246090
Data columns (total 69 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   State_Name                        9597 non-null   object
 1   Crop_Year                         9597 non-null   int64
 2   Area                              9597 non-null   float64
 3   Production                        9597 non-null   float64
 4   District_Name_24 PARAGANAS SOUTH  9597 non-null   uint8
 5   District_Name_BANKURA             9597 non-null   uint8
 6   District_Name_BARDHAMAN           9597 non-null   uint8
 7   District_Name_BIRBHUM             9597 non-null   uint8
 8   District_Name_COOCHBEHAR          9597 non-null   uint8
 9   District_Name_DARJEELING          9597 non-null   uint8
 10  District_Name_DINAJPUR DAKSHIN    9597 non-null   uint8
 11  District_Name_DINAJPUR UTTAR      9597 non-null   uint8
 12  District_Name_HOOGHLY             9597 non-null   uint8
 13  District_Name_HOWRAH              9597 non-null   uint8
 14  District_Name_JALPAIGURI          9597 non-null   uint8
 15  District_Name_MALDAH              9597 non-null   uint8
 16  District_Name_MEDINIPUR EAST      9597 non-null   uint8
 17  District_Name_MEDINIPUR WEST      9597 non-null   uint8
 18  District_Name_MURSHIDABAD         9597 non-null   uint8
 19  District_Name_NADIA               9597 non-null   uint8
 20  District_Name_PURULIA             9597 non-null   uint8
 21  Season_Kharif                     9597 non-null   uint8
 22  Season_Rabi                       9597 non-null   uint8
 23  Season_Summer                     9597 non-null   uint8
 24  Season_Whole Year                 9597 non-null   uint8
 25  Season_Winter                     9597 non-null   uint8
 26  Crop_Arhar/Tur                    9597 non-null   uint8
 27  Crop_Bajra                        9597 non-null   uint8
 28  Crop_Barley                       9597 non-null   uint8
 29  Crop_Cardamom                     9597 non-null   uint8
 30  Crop_Castor seed                  9597 non-null   uint8
 31  Crop_Coconut                      9597 non-null   uint8
 32  Crop_Cotton(lint)                 9597 non-null   uint8
 33  Crop_Dry chillies                 9597 non-null   uint8
 34  Crop_Dry ginger                   9597 non-null   uint8
 35  Crop_Garlic                       9597 non-null   uint8
 36  Crop_Gram                         9597 non-null   uint8
 37  Crop_Groundnut                    9597 non-null   uint8
 38  Crop_Horse-gram                   9597 non-null   uint8
 39  Crop_Jowar                        9597 non-null   uint8
 40  Crop_Jute                         9597 non-null   uint8
 41  Crop_Khesari                      9597 non-null   uint8
 42  Crop_Linseed                      9597 non-null   uint8
 43  Crop_Maize                        9597 non-null   uint8
 44  Crop_Masoor                       9597 non-null   uint8
 45  Crop_Mesta                        9597 non-null   uint8
 46  Crop_Moong(Green Gram)            9597 non-null   uint8
 47  Crop_Moth                         9597 non-null   uint8
 48  Crop_Niger seed                   9597 non-null   uint8
 49  Crop_Oilseeds total               9597 non-null   uint8
 50  Crop_Other  Rabi pulses           9597 non-null   uint8
 51  Crop_Other Kharif pulses          9597 non-null   uint8
 52  Crop_Peas & beans (Pulses)        9597 non-null   uint8
 53  Crop_Potato                       9597 non-null   uint8
 54  Crop_Pulses total                 9597 non-null   uint8
 55  Crop_Ragi                         9597 non-null   uint8
 56  Crop_Rapeseed &Mustard            9597 non-null   uint8
 57  Crop_Rice                         9597 non-null   uint8
 58  Crop_Safflower                    9597 non-null   uint8
 59  Crop_Sannhamp                     9597 non-null   uint8
 60  Crop_Sesamum                      9597 non-null   uint8
 61  Crop_Small millets                9597 non-null   uint8
 62  Crop_Soyabean                     9597 non-null   uint8
 63  Crop_Sugarcane                    9597 non-null   uint8
 64  Crop_Sunflower                    9597 non-null   uint8
 65  Crop_Tobacco                      9597 non-null   uint8
 66  Crop_Turmeric                     9597 non-null   uint8
 67  Crop_Urad                         9597 non-null   uint8
 68  Crop_Wheat                        9597 non-null   uint8
dtypes: float64(2), int64(1), object(1), uint8(65)
memory usage: 984.1+ KB

In [16]:
west_bengal_filtered_ohe.isnull().sum()

State_Name                          0
Crop_Year                           0
Area                                0
Production                          0
District_Name_24 PARAGANAS SOUTH    0
District_Name_BANKURA               0
District_Name_BARDHAMAN             0
District_Name_BIRBHUM               0
District_Name_COOCHBEHAR            0
District_Name_DARJEELING            0
District_Name_DINAJPUR DAKSHIN      0
District_Name_DINAJPUR UTTAR        0
District_Name_HOOGHLY               0
District_Name_HOWRAH                0
District_Name_JALPAIGURI            0
District_Name_MALDAH                0
District_Name_MEDINIPUR EAST        0
District_Name_MEDINIPUR WEST        0
District_Name_MURSHIDABAD           0
District_Name_NADIA                 0
District_Name_PURULIA               0
Season_Kharif                       0
Season_Rabi                         0
Season_Summer                       0
Season_Whole Year                   0
Season_Winter                       0
Crop_Bajra                          0
Crop_Cardamom                       0
Crop_Coconut                        0
Crop_Cotton(lint)                   0
Crop_Garlic                         0
Crop_Jowar                          0
Crop_Linseed                        0
Crop_Maize                          0
Crop_Potato                         0
Crop_Rice                           0
Crop_Sesamum                        0
Crop_Turmeric                       0
Crop_Wheat                          0
dtype: int64

In [69]:
X = west_bengal_filtered_ohe.drop(['State_Name','Crop_Year','Production'],axis=1).values
y = west_bengal_filtered_ohe.iloc[:,3].values

In [70]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [71]:
from sklearn.linear_model import LinearRegression,Lasso
linear_regression = LinearRegression()
lasso = Lasso(alpha=100,max_iter=10000)

In [72]:
linear_regression.fit(X_train,y_train)
lasso.fit(X_train,y_train)

Lasso(alpha=100, max_iter=10000)

In [73]:
from sklearn.ensemble import RandomForestRegressor
rfregressor = RandomForestRegressor()

In [74]:
rfregressor.fit(X_train,y_train)

RandomForestRegressor()

In [75]:
y_pred = lasso.predict(X_test)

In [76]:
from sklearn.metrics import r2_score

In [77]:
r2_score(y_test,y_pred)

0.0926343166872835

In [78]:
accuracy = rfregressor.score(X_test,y_test)
print(accuracy*100,'%')

-31.06255252235004 %

In [79]:
accuracy = lasso.score(X_test,y_test)
print(accuracy*100,'%')

9.26343166872835 %

In [80]:
accuracy = linear_regression.score(X_test,y_test)
print(accuracy*100,'%')

9.22663565752988 %